{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'robots' content = 'index, follow'>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}">
        <link rel="icon" sizes="256x256" href="{% static 'favicon/android-chrome-256x256.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Magnolia+Script&display=swap" rel="stylesheet">

        
        <!-- TailwindCSS Compilation -->
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <title>Order Confirmation - Elvix Luxe</title>
    </head>


    <body class="bg-gray-100 flex items-center justify-center">
        <div class="bg-white shadow-lg rounded-lg p-6 max-w-md w-full text-center m-4">
            <div>
                <img src="{% static 'elvix.png' %}" alt="Elvix Luxe Logo" class="mx-auto w-20">
                <h2 class="font-magnolia font-bold text-md text-gray-600 text-center -mt-4">Elvix Luxe</h2>
            </div>
            <h2 class="text-2xl font-semibold text-gray-600 mt-4">Thank You for Your Order!</h2>
            <p class="text-gray-600 mt-2">Hello <strong>{{ order.customer.get_full_name }}</strong>,</p>
            <!-- <p class="text-gray-700 mt-2">Your order has been successfully placed.</p> -->
            <p class="font-semibold text-gray-700 mt-2"> Your order ID <strong>{{ order.order_id }}</strong></p>
            
            <div class="bg-gray-50 p-4 rounded-lg mt-4 text-left">
                <h3 class="text-lg font-semibold text-gray-600">Order Details:</h3>
                <div class="mt-4 mb-4">
                    <div class="flex justify-between font-semibold text-gray-600">
                        <h2>Product</h2>
                        <h2>Quantity</h2>
                        <h2>Price</h2>
                    </div>
                    {% for item in order.order_items.all %}
                    <div class="flex justify-between text-gray-600">
                        <h2>{{item.product.name}}</h2>
                        <h2>{{order.quantity}}</h2>
                        <h2>{{item.product.price}}</h2>
                    </div>
                    {% endfor %}
                </div>
                <ul class="text-gray-600 mt-2">
                    <li><span class="font-semibold">Address:</span> {{ order.address }}</li>
                    <li><span class="font-semibold">Phone:</span> {{ order.phone }}</li>
                    <li><span class="font-semibold">Total Price:</span> ${{ order.price }}</li>
                </ul>
            </div>
            
            <p class="text-gray-600 mt-4">We will notify you when your order is shipped.</p>
            <p class="text-gray-700 mt-2">Thank you for shopping with us!</p>
            
            <a href="/shop" class="mt-6 inline-block bg-red-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-red-600 transition">Continue Shopping</a>

            <div class="flex justify-center text-xl mt-4">
                <i class="bi bi-facebook m-4"></i>
                <i class="bi bi-twitter-x m-4"></i>
                <i class="bi bi-instagram m-4"></i>
            </div>
            
            <footer class="font-magnolia font-bold text-xs text-gray-500 mt-6">&copy; Elvix Luxe {% now 'Y' %}</footer>
        </div>
    </body>
</html>
