* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%; /* Prevents content overflow */
}

/* Including Magnolia Script font */
@font-face {
    font-family: 'Magnolia Script';
    src: url('Magnolia-Script.otf') format('opentype');
}

/* For webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none; /* Hides the scrollbar */
}

/* General overflow settings */
body {
    overflow: -moz-scrollbars-none; /* Fallback for old browsers */
    overflow-y: scroll; /* Ensure content can scroll without a visible bar */

    /*for the toggle light and dark mode*/
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

@keyframes moveContainer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.min-w-max {
    animation: moveContainer 15s linear infinite; /* Adjust the duration for speed */
    white-space: nowrap; /* Prevent wrapping of the content */
}

img {
    pointer-events: none;
    user-select: none;
}

:root {
    --bg-color: #f3f4f6;
    --text-color: #1f2937;
}

[data-theme="dark"] {
    --bg-color: #232323;
    --text-color: white;
}
